{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
<h1>Create New Course</h1>

{{ form_start(form) }}
  <div class="mb-3">{{ form_row(form.title) }}</div>
  <div class="mb-3">{{ form_row(form.description) }}</div>
  <button type="submit" class="btn btn-success">Create</button>
  <a href="{{ path('app_course_index') }}" class="btn btn-outline-secondary">Cancel</a>
{{ form_end(form) }}
{% endblock %}
